[Unit]
Description=Python task Day3
After=syslog.target
After=network.target

[Service]
ExecStart=/home/student/.pyenv/shims/python /home/student/py_metrics/metrics.py --path /home/student/py_metrics/config 

[Install]
WantedBy=multi-user.target 
